.content {
  max-width: 40rem;
  margin: 4rem auto;
}

.name {
  margin: 0;
  color: #F4F4ED;
  font-family: "Cabin", sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.contact {
  font-family: "Lato", sans-serif;
  font-weight: 200;
  margin: 1em 0;
  text-align: center;
}

.contact > a {
  color: white;
  display: inline-block;
  line-height: 1;
    padding: 0.25em;
  margin-right: 0.5em;
}

.contact > a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.contact svg {
  margin-right: 0.2em;
  vertical-align: middle;
}

@media only screen and (max-width: 40rem) {
  .content {
    margin: 1em;
  }

  .name {
    font-size: 2rem;
  }

  .contact {
    margin: 0.5em 0;
  }

  .contact > a {
    display: block;
    margin: 0.5em 0 0 0;
  }
}

@media (pointer: coarse) {
  .contact > a {
    padding: 0.5em;
  }
}